* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.main {
  display: flex;
  height: 100vh;
}

.navbar {
  background: #042331;
  width: 15%;
}

.navbar header {
  font-size: 22px;
  color: white;
  text-align: center;
  line-height: 70px;
  background: #063146;
  user-select: none;
}

.navbar ul a {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: white;
  padding-left: 40px;
  box-sizing: border-box;
  border-top: 1px solid rgba(255, 255, 255, .1);
  border-bottom: 1px solid black;
  transition: .5s;
}

ul li:hover a {
  padding-left: 50px;
  background-color: #0a5b80;
}

.sidebar ul a i {
  margin-right: 16px;
}

.sidebar ul li.active {
  background-color: #0a5b80;
}

label #btn,
label #cancel {
  position: absolute;
  cursor: pointer;
  background: #042331;
  border-radius: 3px;
}

/* To close menu */
label #cancel {
  z-index: 1111;
  left: 200px;
  top: 17px;
  font-size: 30px;
  color: #0a5275;
  padding: 4px 9px;
  transition: all .5s ease;
}

/*to open menu*/
label #btn {
  left: 300px;
  top: 25px;
  font-size: 35px;
  color: white;
  padding: 6px 12px;
  transition: all .5s;
}

/* Hide check box */
#check {
  display: none;
}

.peagasus {
  background-color: pink;
  flex: auto;
}

.shrink {
  width: 50;
}