<%- include('partials/navbar') %>
  <div id="navbar"><span>Pegasus</span></div>
  <script src="../js/three.js"></script>
  <script src="https://cdn.rawgit.com/mrdoob/three.js/master/examples/js/loaders/GLTFLoader.js"></script>
  <script src="../main.js"></script>
  </body>

  </html>