<%- include('partials/navbar') %>
  <div class="display">
    <div class="cards">
      <div class="card">
        <img src="../css/assets/shanza.jpg" alt="">
        <div class="container">
          <h4><b>Shanza Allan</b></h4>
          <p>Circuit designer</p>
        </div>
      </div>
      <div class="card">
        <img src="../css/assets/gladwell.JPG" alt="">
        <div class="container">
          <h4><b>Gladwell Chege</b></h4>
          <p>Software Developer</p>
        </div>
      </div>
      <div class="card">
        <img src="../css/assets/lee.jpg" alt="">
        <div class="container">
          <h4><b>Leehaney George</b></h4>
          <p>Web Developer</p>
        </div>
      </div>
      <div class="card">
        <img src="../css/assets/gambi.jpg" alt="">
        <div class="container">
          <h4><b>Kiara Mugambi</b></h4>
          <p>System Analyzer</p>
        </div>
      </div>
      <div class="card">
        <img src="../css/assets/collo.jpg" alt="">
        <div class="container">
          <h4><b>Collins Kemboi</b></h4>
          <p>Embedded programmer</p>
        </div>
      </div>
    </div>
  </div>
  <div class="display"></div>
  <script src="../js/app.js"></script>
  </body>

  </html>