.sensors {
  position: absolute;
  inset: 20px 270px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.box {
  color: white;
  width: 200px;
  height: 200px;
  margin: 70px;
}

.box div {
  text-align: center;
  padding-bottom: 10px;
}

.box p {
  padding-left: 10px;
  line-height: 25px;
}


#destination {
  background: rgb(34, 193, 195);
  background: linear-gradient(171deg, rgba(34, 193, 195, 1) 0%, rgba(45, 70, 253, 1) 100%);
}

#position {
  background: rgb(117, 34, 195);
  background: linear-gradient(354deg, rgba(117, 34, 195, 1) 0%, rgba(253, 45, 45, 1) 100%);
}

#rpm {
  background: rgb(34, 61, 195);
  background: linear-gradient(283deg, rgba(34, 61, 195, 1) 0%, rgba(45, 196, 253, 1) 100%);
}

#torque {
  background: rgb(51, 195, 34);
  background: linear-gradient(283deg, rgba(51, 195, 34, 1) 0%, rgba(45, 253, 198, 1) 100%);
}